/node_modules
/vendor
/storage/*.key
/public/hot
/public/storage
/public/build
/public/css/app.css
/public/js/app.js
.env
.env.testing
/vendor
/build
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
/.pnpm-store
